<form action="/checkout" method="post">
  <!-- <input type="text" name="item" value="item"> -->
  <input type="text" name="name">
  <!-- <input type="submit" name="submit" value="submit"> -->
  <!-- <input type="submit" name="submit" value="submit"> -->
  <button type="submit" id="submit" value="submit">Submit</button>
</form>
