<form class="purchase_form" action="/checkout" method="post">
  <!-- <input type="text" name="item" value="item"> -->
  <input type="text" name="item" value="">
  <% binding.pry %>
  <!-- <input type="submit" name="submit" value="submit"> -->
  <!-- <input type="submit" name="submit" value="submit"> -->
  <button type="submit" value="submit">Submit</button>
</form>
